.bay-ready {
  overflow: hidden;
  overflow-x: auto;
}

.bay {
  // 参考了 jd.com
  min-width: 990px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--wk-color-bg);

  &-body {
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  &-sidebar {
    flex-shrink: 0;
  }

  &-content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px 20px 0;

    @media screen and (max-width: 990px) {
      padding: 20px 10px 0;
    }
  }

  &-app-landing {
    flex: 1;
  }

  &-app-error {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  &-app-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--wk-color-bg);

    &__img {
      width: 200px;
    }

    &__desc {
      margin-top: 30px;
      font-size: 13px;
    }
  }

  &-footer {
    flex-shrink: 0;
    height: 44px;
    line-height: 44px;
    font-size: var(--wk-font-size-h6);
    color: var(--wk-color-font-secondary);
    text-align: center;
  }

  @at-root .bay-standalone &-footer {
    display: none;
  }
}
