.bay-ready {
  overflow: hidden;
  overflow-x: auto;
}

.bay {
  // 参考了 jd.com
  min-width: 990px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--wk-color-bg-200);

  &-body {
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  &-sidebar {
    flex-shrink: 0;
  }

  &-content {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px 20px 0;

    @media screen and (max-width: 990px) {
      padding: 20px 10px 0;
    }
  }

  &-app-landing {
    flex: 1;
  }

  &-footer {
    flex-shrink: 0;
    height: 44px;
    line-height: 44px;
    font-size: var(--wk-font-size-h6);
    color: var(--wk-color-font-secondary);
  }
}
