.bay-sidebar {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background-color: var(--wk-color-white);
  box-shadow: 1px 0 0 0 #dce1e6;

  &__menu {
    border-right: none !important;

    &:not(.el-menu--collapse) {
      width: var(--bay-sidebar-width);
    }

    .is-active .bay-sidebar__submenu-title,
    .is-active .bay-sidebar__submenu-icon {
      color: var(--wk-color-primary);
      font-weight: var(--wk-font-weight);
    }
  }
}
