.bay-sidebar {
  display: flex;
  flex-direction: column;
  max-width: var(--bay-sidebar-width);
  background-color: var(--wk-color-white);
  box-shadow: 1px 0 0 0 #dce1e6;
  z-index: 1;

  @at-root {
    .bay-menu-hide &,
    .bay-sidebar-hide & {
      max-width: 0;
    }
  }

  @at-root .bay-menu-with-animate & {
    transition: max-width 0.3s ease-in-out;
  }

  &__menu {
    border-right: none !important;

    &:not(.ep-menu--collapse) {
      width: var(--bay-sidebar-width);
    }

    // element-plus 只能识别 span，所以这里要处理一下隐藏
    &.ep-menu--collapse .bay-sidebar__submenu-title,
    &.ep-menu--collapse .bay-sidebar__menuitem-title {
      height: 0;
      width: 0;
      overflow: hidden;
      visibility: hidden;
      display: inline-block;
    }

    .is-active .bay-sidebar__submenu-title,
    .is-active .bay-sidebar__submenu-icon {
      color: var(--wk-color-primary);
      font-weight: var(--wk-font-weight);
    }
  }

  &__submenu-title,
  &__menuitem-title {
    user-select: none;
    text-decoration: none;
    color: inherit;
    width: 100%;
  }
}
