/* 请勿编辑，此文件自动生成 */
$wk-color-primary-900: #fa7516;
$wk-color-primary-800: #fb931a;
$wk-color-primary-700: #fca31d;
$wk-color-primary-600: #fcb620;
$wk-color-primary-500: #fdc325;
$wk-color-primary-400: #fdcc37;
$wk-color-primary-300: #fdd758;
$wk-color-primary-200: #fee187;
$wk-color-primary-100: #feedb6;
$wk-color-primary-50: #fff8e2;
$wk-color-secondary-900: #111c4e;
$wk-color-secondary-800: #1c2c65;
$wk-color-secondary-700: #233571;
$wk-color-secondary-600: #2c3e7c;
$wk-color-secondary-500: #314584;
$wk-color-secondary-400: #505f94;
$wk-color-secondary-300: #6d7aa6;
$wk-color-secondary-200: #959fbf;
$wk-color-secondary-100: #bec4d9;
$wk-color-secondary-50: #e5e8ef;
$wk-color-success-900: rgba(18, 205, 61, 1);
$wk-color-success-800: rgba(18, 205, 61, 0.8);
$wk-color-success-700: rgba(18, 205, 61, 0.7);
$wk-color-success-600: rgba(18, 205, 61, 0.6);
$wk-color-success-500: rgba(18, 205, 61, 0.5);
$wk-color-success-400: rgba(18, 205, 61, 0.4);
$wk-color-success-300: rgba(18, 205, 61, 0.3);
$wk-color-success-200: rgba(18, 205, 61, 0.2);
$wk-color-success-100: rgba(18, 205, 61, 0.1);
$wk-color-success-50: rgba(18, 205, 61, 0.06);
$wk-color-danger-900: rgba(255, 73, 24, 1);
$wk-color-danger-800: rgba(255, 73, 24, 0.8);
$wk-color-danger-700: rgba(255, 73, 24, 0.7);
$wk-color-danger-600: rgba(255, 73, 24, 0.6);
$wk-color-danger-500: rgba(255, 73, 24, 0.5);
$wk-color-danger-400: rgba(255, 73, 24, 0.4);
$wk-color-danger-300: rgba(255, 73, 24, 0.3);
$wk-color-danger-200: rgba(255, 73, 24, 0.2);
$wk-color-danger-100: rgba(255, 73, 24, 0.1);
$wk-color-danger-50: rgba(255, 73, 24, 0.06);
$wk-color-warning-900: rgba(255, 188, 61, 1);
$wk-color-warning-800: rgba(255, 188, 61, 0.8);
$wk-color-warning-700: rgba(255, 188, 61, 0.7);
$wk-color-warning-600: rgba(255, 188, 61, 0.6);
$wk-color-warning-500: rgba(255, 188, 61, 0.5);
$wk-color-warning-400: rgba(255, 188, 61, 0.4);
$wk-color-warning-300: rgba(255, 188, 61, 0.3);
$wk-color-warning-200: rgba(255, 188, 61, 0.2);
$wk-color-warning-100: rgba(255, 188, 61, 0.1);
$wk-color-warning-50: rgba(255, 188, 61, 0.06);
$wk-color-info-900: rgba(27, 153, 255, 1);
$wk-color-info-800: rgba(27, 153, 255, 0.8);
$wk-color-info-700: rgba(27, 153, 255, 0.7);
$wk-color-info-600: rgba(27, 153, 255, 0.6);
$wk-color-info-500: rgba(27, 153, 255, 0.5);
$wk-color-info-400: rgba(27, 153, 255, 0.4);
$wk-color-info-300: rgba(27, 153, 255, 0.3);
$wk-color-info-200: rgba(27, 153, 255, 0.2);
$wk-color-info-100: rgba(27, 153, 255, 0.1);
$wk-color-info-50: rgba(27, 153, 255, 0.06);
$wk-color-info-hover: #40a9ff;
$wk-color-info-active: #1889e5;
$wk-color-info-disabled: #8dccff;
$wk-color-gray-900: #303133;
$wk-color-gray-800: #606266;
$wk-color-gray-700: #909399;
$wk-color-gray-600: #c0c4cc;
$wk-color-gray-500: #dcdfe6;
$wk-color-gray-400: #e4e7ed;
$wk-color-gray-300: #ebeef5;
$wk-color-gray-200: #f2f6fc;
$wk-color-gray-100: #f5f7fa;
$wk-color-gray-50: #f5f6f8;
$wk-color-gray-0: #ffffff;
$wk-color-primary: $wk-color-primary-900;
$wk-color-secondary: $wk-color-secondary-900;
$wk-color-success: $wk-color-success-900;
$wk-color-danger: $wk-color-danger-900;
$wk-color-warning: $wk-color-warning-900;
$wk-color-info: $wk-color-info-900;
$wk-color-white: $wk-color-gray-0;
$wk-color-black: $wk-color-gray-900;
$wk-color-font-primary: $wk-color-gray-900;
$wk-color-font-regular: $wk-color-gray-800;
$wk-color-font-secondary: $wk-color-gray-700;
$wk-color-font-placeholder: $wk-color-gray-600;
$wk-color-font-disabled: $wk-color-gray-600;
$wk-color-font-inverse: $wk-color-gray-0;
$wk-color-divider: $wk-color-gray-300;
$wk-color-border-dark: $wk-color-gray-700;
$wk-color-border: $wk-color-gray-500;
$wk-color-border-light: $wk-color-gray-300;
$wk-color-border-lighter: $wk-color-gray-200;
$wk-color-border-extra-light: $wk-color-gray-100;
$wk-color-bg-dark: $wk-color-gray-200;
$wk-color-bg: $wk-color-gray-100;
$wk-color-link: $wk-color-info;
$wk-color-link-hover: $wk-color-info-hover;
$wk-color-link-disabled: $wk-color-info-disabled;
$wk-color-link-active: $wk-color-info-active;
$wk-font-family: Inter, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, noto sans, Microsoft YaHei,
    Helvetica Neue, Helvetica, Arial, sans-serif;
$wk-font-family-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
$wk-font-family-mono: Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas, Liberation Mono, Courier New, monospace;
$wk-font-family-number: 'Oswald';
$wk-font-size-h1: 20px;
$wk-font-line-height-h1: 30px;
$wk-font-size-h2: 18px;
$wk-font-line-height-h2: 28px;
$wk-font-size-h3: 16px;
$wk-font-line-height-h3: 24px;
$wk-font-size-h4: 14px;
$wk-font-line-height-h4: 22px;
$wk-font-size-h5: 13px;
$wk-font-line-height-h5: 22px;
$wk-font-size-h6: 12px;
$wk-font-line-height-h6: 20px;
$wk-font-size: $wk-font-size-h4;
$wk-font-line-height: $wk-font-line-height-h4;
$wk-font-weight: 500;
$wk-border-radius-sm: 2px;
$wk-border-radius-base: 4px;
$wk-border-radius-md: 8px;
$wk-border-radius-lg: 16px;
$wk-border-radius-xl: 24px;
$wk-border-radius-full: 9999px;
$wk-spacing-xs: 8px;
$wk-spacing-sm: 16px;
$wk-spacing-base: 24px;
$wk-spacing-md: 32px;
$wk-spacing-lg: 48px;
$wk-spacing-xl: 64px;
$wk-spacing-button: 10px;
$wk-spacing-form-item: 20px;
$wk-z-index-normal: 1;
$wk-z-index-dropdown: 1000;
$wk-z-index-sticky: 1020;
$wk-z-index-fixed: 1030;
$wk-z-index-modal: 1040;
$wk-z-index-tooltip: 1050;
$wk-width-form-item-xs: 96px;
$wk-width-form-item-sm: 200px;
$wk-width-form-item-md: 304px;
$wk-width-form-item-lg: 404px;
$wk-width-form-item-xl: 512px;