@use 'share' as *;

.bay-layout-float-footer {
  $height: getVar(float-footer-height, 60px);
  $bg: getVar(float-footer-background, --wk-color-white);
  $borderColor: getVar(float-footer-borderColor, --wk-color-gray-300);

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $height;
  line-height: $height;
  z-index: 3;
  box-shadow: 0 -1px  $borderColor;
  background: $bg;

  display: flex;
  align-items: center;
  justify-content: center;

  &__placeholder {
    width: 100%;
    height: $height;
  }

  &__watcher {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
