$bg-color: var(--wk-color-white);
$active-color: var(--wk-color-primary);
$menu-padding: 0 20px;
$color: var(--wk-color-font-regular);

%flex-center {
  display: flex;
  align-items: center;
}

.bay-header {
  @extend %flex-center;
  $height: 56px;
  height: $height;
  background-color: $bg-color;
  box-shadow: 0 1px 0 0 #dce1e6;
  padding: 0 20px;
  box-sizing: border-box;
  flex-shrink: 0;
  z-index: 2;

  // 菜单隐藏
  @at-root .bay-menu-hide & {
    height: 0;
    overflow: hidden;
  }

  @at-root .bay-standalone & {
    display: none;
  }

  @at-root .bay-menu-with-animate & {
    transition: height 0.3s ease-in-out;
  }

  &__before {
    width: var(--bay-sidebar-width);
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__collapse {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    flex-shrink: 0;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--wk-color-font-regular);
    }
  }

  &__logo {
    @extend %flex-center;
    cursor: pointer;
    flex: 1;
    overflow: hidden;

    &-img {
      width: 32px;
      height: 32px;
      object-fit: contain;
      border-radius: var(--wk-border-radius-full);
      flex-shrink: 0;
    }

    &-name {
      color: var(--wk-color-font-primary);
      font-size: var(--wk-font-size-h3);
      margin-left: 10px;
      white-space: nowrap;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__menus {
    flex: 1;
    display: flex;
    font-size: var(--wk-font-size);
    height: 100%;
  }

  &__menu {
    @extend %flex-center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    height: 100%;

    &.active::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: $active-color;
    }
  }

  &__menu:hover > &__submenus {
    display: block;
  }

  &__menu,
  &__submenu {
    color: $color;
    cursor: pointer;
    padding: $menu-padding;
    white-space: nowrap;
    text-decoration: none;
    user-select: none;

    &:hover,
    &.active {
      color: $active-color;
    }
  }

  &__submenus {
    display: none;
    position: absolute;
    min-width: 100%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    background: $bg-color;
    border: 1px solid #e4e7ed;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    overflow: hidden;
  }

  &__submenu {
    height: 38px;
    display: block;
    line-height: 38px;
    text-align: center;
  }

  &__dropdown {
    @extend %flex-center;
    height: 100%;

    &-img {
      width: 24px;
      height: 24px;
      border-radius: var(--wk-border-radius-full);
      margin-right: 7px;
    }

    &-name {
      margin-right: 10px;
      white-space: nowrap;
    }
  }
}
