@use './setting' as *;

.#{$prefix}-button {
  padding: 8px 12px;
  outline: none !important;

  &.is-round {
    padding: 8px 15px;
  }
  &.is-circle {
    padding: 8px;
  }

  &.is-link {
    --#{$prefix}-button-hover-link-text-color: var(--wk-color-link-hover);
    --#{$prefix}-button-active-color: var(--wk-color-link-hover);

    color: var(--wk-color-link);

    &.is-disabled {
      color: var(--wk-color-link-disabled);
    }
  }

  &.is-plain {
    --#{$prefix}-button-bg-color: transparent;
  }
}
