@use './setting' as *;

.#{$prefix}-form {
  &-item {
    margin-bottom: var(--wk-spacing-form-item);
    &__tip,
    &__error {
      font-size: 12px;
      display: block;
      line-height: 20px;
    }
    &__error {
      color: var(--wk-color-danger);
      padding-top: 0;
    }
    &__tip {
      color: var(--wk-color-font-placeholder);
    }
  }

  &--inline &-item {
    margin-right: var(--wk-spacing-base);
  }
}
