@use './setting' as *;

.#{$prefix}-menu {
  .#{$prefix}-submenu.is-active .#{$prefix}-submenu__title {
    color: var(--wk-color-primary);
  }
}
.#{$prefix}-dropdown {
  &-menu__item:not(.is-disabled) {
    &:focus,
    &:hover {
      background-color: #f5f7fa;
      color: var(--wk-color-info);
    }
  }
}
