@use './setting' as *;

.#{$prefix}-table {
  margin-top: 0;
  --ep-table-row-hover-bg-color: #f6fbff;
  --ep-table-header-bg-color: var(--wk-color-bg);

  th,
  td {
    padding: 14px 0;
    > .cell {
      padding-left: 24px;
      padding-right: 24px;
    }
    &:first-child .cell {
      padding-left: 24px;
    }
  }

  th.#{$prefix}-table__cell > .cell,
  .cell {
    padding-left: 24px;
    padding-right: 24px;
  }

  & &__cell {
    padding: 19px 0;
    border-bottom: 1px solid #ebeef5;
  }
}
